a:hover{
  color: blue;
}

h1 {
  font-size: 30px;
}

section {
  float: left;
  width: 85%;
  line-height: 300%;
}

ol li {
  font-size: 18px;

}

aside {
  position: relative;
  display: inline-block;
  bottom: 10em;
  top:3em;
  width: 5em;

}

article {
  display: inline-block;
  position: relative;
  left: 5%;
  width:75%;
}

ol li {
  display:block;
}

#post_title {
  font-size: 2em;
}
