h1 {
  font-size: 30px;
}

section {
  float: left;
  width: 85%;
  line-height: 300%;
}

ol li {
  font-size: 18px;
}

aside {
  float: left;
  width: 5em;
  padding-bottom: 5%;
}

article {
  display: inline-block;
  position: relative;
  left: 5%;
  width:75%;
}

ol li {
  display:block;
}

#post_title {
  font-size: 2em;
}

.blogs {
  border-bottom: solid #04B1BE;
}

table {
  width: 50%;
  height: 30em;
  margin-left: 25%;
}

thead {
  font-size: 30px;

}

tbody {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

.left {
  width: 10em;
}

h4 {
  display: inline-block;
}

ul {
  border-right: solid #04B1BE;
  border-top: none;
  border-bottom: none;
}

#matt_pic {
  float: left;
  width: 30%;
  margin-left: 5%;
  margin-right: 0%;
}

#about_me {
  margin-left: 45%;
}

#bio {
  float: right;
  width: 60%;
}

#project {
  width: 55%;
  font-size: 4em;
  float: right;
}

.prjs {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 2em;
}

#prjs {
  float: left;
  margin-top: 10%;
}

