
html {
  background-color: #E6EAEB;
}

main {
  font-size: 5em;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 3%;
  padding-top: 3%;
  color: #04B1BE;
}

article {
  color: black;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 8px;
  text-align: center;
  border-bottom: solid #04B1BE;
  border-top: solid #04B1BE;

}

li {
  display: inline-block;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}


#left {
  float: left;
  width: 49%;
  line-height: 200%;
  font-size: 15px;
}

#right {
  float: right;
  width: 49%;
  line-height: 200%;
  font-size: 15px;
}

#home_content {
  border-top: solid #04B1BE;
  color: black;
}

footer {
  border-top: solid #04B1BE;
  text-align: center;
  clear: both;
  color: black;
}

h4 {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  color: black;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color:black;
  font-family: sans-serif;
}

a:hover {
  color:#04B1BE;
}